<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>sgp</display-name>
	<servlet>
		<servlet-name>ListerCollaborateursController</servlet-name>
		<servlet-class>dev.sgp.web.ListerCollaborateursController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditerCollabo</servlet-name>
		<servlet-class>dev.sgp.web.EditerCollaborateurController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsererCollabo</servlet-name>
		<servlet-class>dev.sgp.web.InsererCollaborateurController</servlet-class>
	</servlet>

	
	
	<servlet-mapping>
		<servlet-name>ListerCollaborateursController</servlet-name>
		<url-pattern>/lister</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditerCollabo</servlet-name>
		<url-pattern>/editer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>InsererCollabo</servlet-name>
		<url-pattern>/inserer</url-pattern>
	</servlet-mapping>
	
</web-app>